<h2>Register</h2>

<form action="/register" method="post">
  <% if(messages.error) { %>
  <span style="color: red"> <%= messages.error %> </span>
  <% } %>

  <div class="">
    <label for="name">Full Name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div class="">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div class="">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="">
    <label for="identity_type">Identity Type</label>
    <input type="text" name="identity_type" id="identity_type" />
  </div>
  <div class="">
    <label for="identity_number">Identity Number</label>
    <input type="text" name="identity_number" id="identity_number" />
  </div>
  <div class="">
    <label for="address">Address</label>
    <input type="text" name="address" id="address" />
  </div>

  <div class="">
    <input type="submit" value="register" />
  </div>
</form>
